{% extends "base.html" %}
{% block content %}
<form action="/result" method="POST">
  <div class="form-row">
    <div class="form-group col-lg-4">
      <label for="firstNumber">First Number</label>
      <input type="text" class="form-control" name="first-value">
    </div>
    <div class="form-group col-lg-4">
      <label for="operation">Operation</label>
      <select name="operation" class="form-control">
        <option selected disabled>choose one</option>
        <option>addition</option>
        <option>subtraction</option>
        <option>multiplication</option>
        <option>division</option>
      </select>
    </div>
    <div class="form-group col-lg-6">
      <label for="secondNumber">Second Number</label>
      <input type="text" class="form-control" name="second-value">
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Calculate">
</form>
{% endblock content %}
